a:link {
	color: rgb(114, 109, 109);
  }
  a:visited {
	color: rgb(255, 0, 0);
	font-weight: lighter;
  }
  a:hover {
	color: rgb(255, 255, 255);
	font-weight: bold;
  }
  a.menu {
	display: block;
  }
  p {
	margin-left: 0.5em;
	margin-bottom: 0.06em;
	border-style: inset;
	border-width: medium;
	border-color: LightSkyBlue;
	border-radius: 5px;
  }
  p.otro {
	border-style: outset;
  }
  
  #crearPersonal:hover {
	transform: scale(1.1);
  }
  
  body {
	font-family: Verdana, Helvetica, Arial, "Times New Roman";
	color: Navy;
	margin-block-start: 0.1em;
	margin-block-end: 0.1em;
	margin-inline-start: 0.3em;
	margin-inline-end: 0.2em;
  }
  img, video, canvas {
	max-width: 100%;
  }
  
  header {
	padding-top: 0.05em;
	height: 5em;
	color: hsl(0, 0%, 100%);
	font-weight: bold;
	font-size: large;
	background-color: rgb(0, 0, 0);
	text-transform: capitalize;
  }
  
  figure.logo {
	display: inline;
	width: 10px;
	height: 10px;
  }
  
  img.logo {
	width: 70px;
	height: 70px;
  }
  
  nav {
	font-family: monospace;
	display: flex;
	justify-content: center;
	background-color: rgb(215, 215, 215);
	padding: 5px 15px;
  }
  
  nav li {
	display: inline-block;
	color: rgb(255, 255, 255);
	list-style: none;
	padding: 5px;
	font: bold 14px verdana, sans-serif;
  }
  
  aside h3 {
	color: white;
  }
  
  aside ul li {
	color: rgb(255, 255, 255);
  }
  
  aside ul li a {
	text-decoration: none;
	color: rgb(255, 255, 255);
  }
  
  table {
	text-align: center;
	color: white;
	background-color: black;
	font-family: monospace;
	font-size: 15pt;
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
  }
  
  table tr td input {
	font-family: fantasy;
	color: white;
	background-color: black;
	border: none;
  }
  
  table tr td input:hover {
	color: rgb(129, 129, 129);
	transform: scale(1.1);
  }
  
  aside {
	float: right;
	width: 220px;
	height: 220px;
	margin: 20px 0px;
	padding: 20px;
	background: rgb(0, 0, 0);
	border-radius: 2pc;
  }
  
  section {
	float: left;
	width: 75%;
	height: auto;
	min-height: 30em;
	margin: 20px;
	background-color: rgb(255, 255, 255);
	text-transform: none;
  }
  
  #sectionIndex {
	display: flex;
	justify-content: center;
  }
  
  footer {
	width: 100%;
	font-size: 75%;
	background-color: rgb(255, 255, 255);
	text-align: center;
	min-height: 2em;
	float: left;
  }
  
  #titPral {
	display: inline;
	vertical-align: 90%;
  }
  
  @media screen and (max-width: 800px) {
	table {
	  display: block;
	  width: 100%;
	  overflow-x: auto;
	}
  
	table tr td {
	  white-space: nowrap;
	}
  
	aside, section {
	  width: 90%;
	  float: none;
	}
  }
  
  #sectionInformation {
	display: flex;
	flex-wrap: wrap;
  }
  
  #enviar {
	font-size: 12pt;
	font-family: monospace;
	background-color: black;
	color: white;
	margin-top: 4%;
  }
  
  #enviar:hover {
	transform: scale(1.1);
  }
  
  button {
	margin: 2;
	background-color: black;
	color: white;
  }
  